<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        Dear Customer
    </div>

    <p>Please find attached a list of people at high risk.</p>

    <p>The versions {Status} at this time.</p>

    <div>Best Regards,</div>
    <div>Krungsri Securities Company Limited</div>
</body>
</html>